<html>

<head>
  <title>AngularJS + Bootstrap Table + NodeJS/Express RestAPIs</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/static/js/angularJsApp.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    padding: 1.2rem 2em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 0 1em;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 12rem;
  }

  table {
    text-align: center;
    table-layout: auto;
  }

  th {
    text-align: center;
  }

  .div1 {
    float: left;
  }
</style>

<body>

  <div ng-app="app">
  <div id="div1" class="container" ng-controller="loadProdutos">                
      <h3>Produtos</h3>


    <div id="productList" class="container">

      <table class="table table-bordered table-hover" id="tableProduto">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Alterações</th>
        </tr>
        <tbody class="tbody-produtos">
          <tr id="tr-produto" ng-repeat="cust in customers | orderBy : 'ID'" ng-class-even="'info'" ng-class-odd="'success'">
            <td id="produtoId" >{{cust.ID}}</td>
            <td id="produtoNome" contenteditable='true'>{{cust.Nome | uppercase}}</td>
            <td id="produtoUnidade" contenteditable='true'>{{cust.Unidade}}</td>
            <td>
              <button class="button btnRemove" value="Save" onClick="saveProduto(this)">Salvar</button>
              <button class="button btnRemove" value="Delete" onclick="removeProduto(this)">Remover</button>
              <button class="button btnInit" onClick="Cancel()">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container">
        <button id="btnAdicionar" class="button btnInit" ng-click="tableTemporaria = true">Adicionar</button>
    </div>

    <div class="container" ng-model="tableTemporaria" ng-if="tableTemporaria">
      <table class="table table-bordered table-hover" id="tableProduto2">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Alterações</th>
        </tr>
        <tr>
          <td class="idProduto" contenteditable='true'></td>
          <td  class="nomeProduto" contenteditable='true'></td>
          <td  class="unidadeProduto" contenteditable='true'></td>
          <td>
            <button class="button btnInit" onClick="AddProduto(this)">Salvar</button>
            <button class="button btnInit" onClick="Cancel()">Cancelar</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="div2" class="container" ng-controller="loadLoja">                
      <h3>Lojas</h3>

    <div id="lojaList" class="container">
      <table class="table table-bordered table-hover" id="tableLoja">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Alterações</th>
        </tr>
        <tbody>
          <tr ng-repeat="currentLoja in loja | orderBy : 'ID'" ng-class-even="'info'" ng-class-odd="'success'">
            <td id="lojaId">{{currentLoja.ID}}</td>
            <td id="lojaNome" contenteditable='true'>{{currentLoja.Nome | uppercase}}</td>
            <td>
              <button class="button btnRemove" value="Save" onClick="saveLoja(this)">Salvar</button>
              <button class="button btnRemove" value="Delete" onclick="removeLoja(this)">Remover</button>
              <button class="button btnInit" onClick="Cancel()">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container">
        <button id="btnAdicionar" class="button btnInit" ng-click="tableTemporaria = true">Adicionar</button>
    </div>

    <div class="container" ng-model="tableTemporaria" ng-if="tableTemporaria">
      <table class="table table-bordered table-hover" id="tableLoja2">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Alterações</th>
        </tr>
        <tr>
          <td contenteditable='true'></td>
          <td contenteditable='true'></td>
          <td>
            <button class="button btnInit" onClick="addLoja(this)">Salvar</button>
            <button class="button btnInit" onClick="Cancel()">Cancelar</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  


  <div id="div3" class="container" ng-controller="loadEstoque">                
      <h3>Estoques</h3>

    <div id="estoqueList" class="container">
      <table class="table table-bordered table-hover" id="tableEstoque">
        <tr>
          <th>ProdutoID</th>
          <th>LojaID</th>
          <th>Quantidade</th>
          <th>Alterações</th>
        </tr>
        <tbody>
          <tr ng-repeat="currentEstoque in estoque | orderBy : 'ID_Loja'" ng-class-even="'info'" ng-class-odd="'success'">
            <td id="fk_ProdutoID">{{currentEstoque.ID_Produto}}</td>
            <td id="fk_LojaID">{{currentEstoque.ID_Loja}}</td>
            <td id="quantidade" contenteditable='true'>{{currentEstoque.Quantidade | uppercase}}</td>
            <td>
              <button class="button btnRemove" value="Save" onClick="saveEstoque(this)">Salvar</button>
              <button class="button btnRemove" value="Delete" onclick="removeEstoque(this)">Remover</button>
              <button class="button btnInit" onClick="Cancel()">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

    <button id="btnAdicionarEstoque" ng-click="tableTemporaria = true">Adicionar</button>

  <div class="container" ng-if="tableTemporaria">
    <table class="table table-bordered table-hover" id="tableEstoque2">
      <tr>
        <th>ProdutoID</th>
        <th>LojaID</th>
        <th>Quantidade</th>
        <th>Alterações</th>
      </tr>
      <td id="div4" class="container" contenteditable='true'>
        <select id="produtoSelected">
          <option></option>
        </select>
      </td>
      <td id="div5" class="container" contenteditable='true'>
        <select id="lojaSelected">
          <option></option>
        </select>
      </td>
      <td id="estoqueQuantidade" contenteditable='true'></td>
      <td>
        <button class="button btnInit" onClick="addEstoque(this)">Salvar</button>

      </td>
    </table>
  </div>

<div class="template" style="display: none">
  <table>
      <tbody>
          <tr id="tr-produto">
              <td id="produtoId" ></td>
              <td id="produtoNome"></td>
              <td id="produtoUnidade"></td>
              <td>
                  <button class="button btnRemove" value="Save" onClick="saveProduto(this)">Salvar</button>
                  <button class="button btnRemove" value="Delete" onclick="removeProduto(this)">Remover</button>
                  <button class="button btnInit" onClick="Cancel()">Cancelar</button>
              </td>
            </tr>
      </tbody>  
  </table>
  
</div>



  <script>
    function removeProduto(linha) {
        var array = [
          {
            "ID": linha.parentNode.parentNode.querySelectorAll('#produtoId')[0].innerText
          }
        ]

      axios.post('/api/produtos', array).then(function (response) {
        //location.reload();
      });
    }

    function AddProduto(r) {
      var array = [
        {
          "ID": $('.idProduto').text(),
          "Nome": $('.nomeProduto').text(),
          "Unidade": $('.unidadeProduto').text()
        }
      ]
      var template = $('.template').find('tr').clone();
      template.find('#produtoId').text(id);
      template.find('#produtoNome').text(nome);
      template.find('#produtoUnidade').text(unidade);

      $('.tbody-produtos').append(template);

      axios.post('/adicionaProduto', array)
        .then(function (response) {
          //location.reload();
        });
    }

    function saveProduto(linha) {
      var tdProduto = linha.parentNode.parentNode;
      var array = [
        {
          "ID": tdProduto.querySelectorAll('#produtoId')[0].innerText,
          "Nome": tdProduto.querySelectorAll('#produtoNome')[0].innerText,
          "Unidade": tdProduto.querySelectorAll('#produtoUnidade')[0].innerText
        }
      ]
      axios.put('/api/produtos', array)
        .then(function (response) {
          location.reload();
        });
    }

    function removeLoja(linha) {
        var array = [
          {
            "ID": linha.parentNode.parentNode.querySelectorAll("#lojaId")[0].innerText
          }
        ]      
      axios.post('/api/loja', array)
        .then(function (response) {
          location.reload();
        });
    }

    function addLoja(r) {
      var Row = document.getElementById("tableLoja2");
      var Cells = Row.getElementsByTagName("td");
      var array = [
        {
          "ID": Cells[0].textContent,
          "Nome": Cells[1].textContent,
        }
      ]
      axios.post('/adicionaLoja', array)
        .then(function (response) {
          location.reload();
        });
    }

    function saveLoja(linha) {
      var tdLoja = linha.parentNode.parentNode;    

      var array = [
        {
          "ID": tdLoja.querySelectorAll('#lojaId')[0].innerText,
          "Nome": tdLoja.querySelectorAll('#lojaNome')[0].innerText,
        }
      ]
      axios.post('/updateLoja', array)
        .then(function (response) {
          location.reload();
        });
    }

    function removeEstoque(linha) {
      var tdEstoque = linha.parentNode.parentNode;

      var array = [
        {
          "ID_Produto": tdEstoque.querySelectorAll('#fk_ProdutoID'),
          "ID_Loja": tdEstoque.querySelectorAll('#fk_LojaID')
        }
      ]

      axios.post('/api/estoque', array)
        .then(function (response) {
          location.reload();
        });
    }

    function addEstoque(r) {
      var selectedProduto = document.getElementById("produtoSelected");
      var selectedLoja = document.getElementById("lojaSelected");
      var array = [
        {
          "ID_Produto": selectedProduto.options[sel.selectedIndex].text,
          "ID_Loja": selectedLoja.options[sel.selectedIndex].text,
          "Quantidade": document.getElementById("estoqueQuantidade").innerHTML
        }
      ]
      axios.post('/adicionaEstoque', array)
        .then(function (response) {
          location.reload();
        });
    }

    function saveEstoque(linha) {
      var tdEstoque = linha.parentNode.parentNode;

      var array = [
        {
          "ID_Produto":  tdEstoque.querySelectorAll('#fk_ProdutoID'),
          "ID_Loja": tdEstoque.querySelectorAll('#fk_LojaID'),
          "Quantidade": tdEstoque.querySelectorAll('#quantidade')
        }
      ]
      axios.put('/api/estoque', array)
        .then(function (response) {
          location.reload();
        });
    }

    function Cancel() {
      //location.reload();
    }


  </script>
</body>

</html>